@import 'tailwindcss';

@theme {
  --color-brand-purple: #6565ec;
  --color-brand-purple-dark: #5050bc;
  --color-white: #ffffff;
  --color-light-red: #fff8f8;
  --color-gray-100: #f9f9fb;
  --color-gray-150: #f2f2f2;
  --color-gray-200: #e5e5ea;
  --color-gray-300: #737389;
  --color-gray-400: #4f4f5e;
}

.DialogOverlay[data-state='open'] {
  animation: fadeIn 300ms ease-out forwards;
}
.DialogOverlay[data-state='closed'] {
  animation: fadeOut 300ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
